/*CSS reset settings here*/
*{
    outline: 1px dashed green;
	margin: 0;
	padding: 0;
}
#wrapper {
    width: 970px;
    margin: 0px auto;
	background-color: violet;
}
header h1, header h2 {
    display: inline-block;
    width: 48%;
}
h3, h4, h1, h2{
	margin: 0px;
	height: 30px;
	background-color: silver;
	color: white;
}
.body-content {
	display: inline-block;
	vertical-align: top;
	/*margin-left: 20px;*/
	background-color: white;
}
	.body-content .large {
		height: 600px;
	}
#bio {
    height: 250px;
    padding: 20px;
    height: 200px;
}
    #bio img {
        height: 200px;
        width: 300px;
        border: 4px solid grey;
    }
    #bio div {
        width: 540px;
        height: 200px;
    }
    #bio div p {
        background-color: white;
    }
.padding {
    padding: 3px;
}
.subcon {
    width: 280px;
    height: 600px;
}
	.subcon img {
		height: auto;
        width: 40px;
        display: inline-block;
        padding: 6px;
	}
img.sub-head-img {
	height: auto;
	width: 280px;
	display: block;
	margin: 0 auto;
}

.subcon a {
    border-radius: 10px;
    height: 40px;
    width: 75px;
    text-align: center;
    color: white;
    background-color: green;
    margin: 10px auto;
    clear: right;
	padding: 15px 5px 0px 5px;
	display: block;
}
footer {
    height: 100px;
}
